# Порт приложения
APP_PORT=8080

# PostgreSQL
DB_NAME=hackaton
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432

# Redis
REDIS_PORT=6379

# Spring profiles
SPRING_PROFILES_ACTIVE=docker

# Telegram bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
